@font-face {
	font-family: 'NineteenNinetySeven';
	src: url('../fonts/NINETEENNINETYSEVEN-11XB.ttf') format('truetype'),
        url('../fonts/NINETEENNINETYSEVEN-11XB.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

* {
    font-family: inherit;
}

canvas {
    border: 1px solid #999;
    width: 100%;
    height: 100%;
}

.container {
    font-family: "NineteenNinetySeven";
    width: 1000px;
    height: 1000px;
}